[Desktop Entry]
Name=Obsidian
Exec=/snap/bin/obsidian
Terminal=false
Type=Application
Icon=/home/john/bin/icons/obsidian.png
Categories=Office
Keywords=obsidian;
MimeType=x-scheme-handler/obsidian;text/html;
